{% extends "base.html.twig" %}

{% block title %}Page produit{% endblock %}

{% block content %}
    <!--DETAIL PRODUIT-->

    <h2>PRODUIT {{product.title}}</h2>
    <div class="ligneproduits">
        <div class="ligneleft2"></div>
        <i class="fas fa-circle"></i>
        <div class="ligneright2"></div>
    </div>

    <img src="/P5/images/{{product.image}}" width="100%"/>

    <p>{{product.description}}</p>

     <form id="addToCart">
            <input type="hidden" name="id" value="{{product.id}}">
            <input type="hidden" name="name" value="{{product.title}}">
            <input type="hidden" name="price" value="{{product.price}}">
            <input type="number" name="quantity" min="1" value="1"/>
            <button>Ajouter au panier</button>
        </form>

    <script src="/P5/assets/js/cart.js"></script>
{% endblock %}