{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <!--PRODUITS-->

    <h2>TOUS LES PRODUITS</h2>
    <div class="ligneproduits">
        <div class="ligneleft2"></div>
        <i class="fas fa-circle"></i>
        <div class="ligneright2"></div>
    </div>

<!--IMAGES-->

    <div class="container">

        <div class="vignettes">
            {% for product in products %}
            <a href="/products/{{product.id}}" class="vignette">
            <figure><img src="/public/{{product.image}}" alt="camera1" />
                <figcaption>
                    <h4>{{product.title}}</h4></br>
                    <p>{{product.description}}</p>
                    <div class="camera"><i class="fas fa-camera-retro"></i>
                    </div>
                </figcaption>
            </figure>
            </a>
            {% endfor %}
        </div>




    </div>
    <div>
        {% for i in range(1, nbPages) %}
            {% if i == page %}
    	        {{i}}
            {% else %}
                <a href='?page={{i}}'>{{ i }}</a>
            {% endif %}

        {% endfor %}
        </div>
{% endblock %}
