{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    
        <h1>Modifier {{product.title}}</h1>

        <form method="POST" action="/admin/products/{{product.id}}" enctype="multipart/form-data">
          <div>
                <label>Titre</label>
                <input type="text" name="title" value={{product.title}} />
          </div>

          <div>
                <label>Prix</label>
                <input type="text" name="price" value={{product.price}} />
          </div>

          <div>
                <label>Description courte</label>
                <input type="text" name="short_description" />
          </div>

          <div>
                <label>Description</label>
                <textarea name="description" rows="10">
                        {{product.description}}
                </textarea>
          </div>

          <div>
                <label>Image</label>
                <input name="image"  type="file" />

                <img src="/images/{{product.image}}" />
          </div>


          <button type="submit">Modifier le produit</button>
        
        </form>
       
    
{% endblock %}